/* Base Layout */
:root {
  --bg-dark: #111827;
  --bg-surface: #1f2937;
  --bg-muted: #374151;
  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;
  --primary-color: #6366f1;
  --primary-hover: #4f46e5;
  --secondary-color: #10b981;
  --secondary-hover: #059669;
  --bs-heading-color: var(--text-secondary);
  --border-radius: 0.25rem;
  --spacing: 0.5rem;

  --font-size-base: 0.875rem;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-base);
  background: var(--bg-dark);
  color: var(--text-primary);
}

/* Card container */
.card {
  border-radius: var(--border-radius);
  background: var(--bg-surface);
}

/* Form elements */
.form-label {
  display: block;
  font-weight: 500;
  color: var(--text-secondary);
  margin-bottom: 0.25rem;
}

.form-control,
.form-select {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-base);
  background: var(--bg-muted);
  color: var(--text-primary);
  border: none;
  border-radius: var(--border-radius);
}
input::placeholder,
textarea::placeholder,
.form-control::placeholder,
.form-select::placeholder {
  color: #b1b1b1;
}

.form-control:focus,
.form-select:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  background: var(--bg-surface);
  color: var(--text-primary);
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* Button */
#nextBtn {
  width: 100%;
}

.btn-primary:hover {
  background: var(--primary-hover);
}

/* Logo */
img.logo {
  max-width: 95%;
  margin-bottom: var(--spacing);
}
